/MOT_pedestrians/algorithms/testing_detectors/CompositionDetector_index.txt
/MOT_pedestrians/algorithms/testing_detectors/HOGDetector_index.txt
/MOT_pedestrians/algorithms/testing_detectors/MultiTrackerDetector_index.txt
/MOT_pedestrians/MOT_pedestrians_examples/
MOT_pedestrians/.idea/workspace.xml
